.catalog-container {
    margin-top: 26px;
    padding-right: 40px;
    padding-left: 40px;
}

.catalog-title{
font-size: 24px;
line-height: 33px;
letter-spacing: -0.015em;
}

.catalog-products{
    margin-top: 43px;
}
