.product-details-container{
    margin-top: 40px; 
    padding-left: 40px;
    padding-right: 40px;
}

.product-details{
    padding: 50px 60px 90px 60px;
}

.product-details-goback{
    display: flex;
    align-items: center;
}

.icon-goback {
    color: #407BFF;
    transform: rotate(-180deg);
}

.text-goback{
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.015em;
    color: #263238;
    text-transform: uppercase;
    margin-left: 40px;
}