.product-card {
    width: 245px;
    padding-top: 20px, 20px, 230px;
    text-align: center;
}

.product-info {
    border-top: 1px solid #e1e1e1;
    text-align: left;
    padding-top: 15px;
}

.product-name {
    font-size: 18px;
    text-align: 25px;
    letter-spacing: -0.015em;
}