.admin-nav-container {
    width: 300px;
    height: calc(100vh - 70px);
    background-color: #fff;
}

.admin-nav-item {
    height: 80px;
    display: block;
    border-bottom: 1px solid #e1e1e1;
    display: flex;
    align-items: center;
    padding-left: 40px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.015em;
    color: var(--primary-hover-color);
    text-decoration-color: transparent;

    &.active {
        background: rgb(255, 255, 255);
        color: var(--primary-color) !important;
    }

    &:hover {
        color: var(--primary-color) !important;
    }
}